{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" ng-app="hackademicApp">

    <head>
        <meta charset="UTF-8">
        <title>Hackademic</title>

        <!-- load bootstrap css files -->

        <style rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></style>
        <style rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"></style>
        <style rel="stylesheet" href="{% static 'css/style.css' %}"></style>

        <!-- load angular js and bootstrap js files -->

        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/angular-animate.min.js' %}"></script>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>


        <!-- angular js app components -->

        <script src="{% static 'appjs/app.js' %}"></script>

        <!--
        <script src="{% static 'appjs/app.config.js' %}"></script>

        <script src="{% static 'appjs/core/article/article.module.js' %}"></script>
        <script src="{% static 'appjs/core/article/article.service.js' %}"></script>

        <script src="{% static 'appjs/article/article-list/article-list.component.js' %}"></script>
        <script src="{% static 'appjs/article/article-list/article-list.module.js' %}"></script>
        -->



    </head>


    {% verbatim %}

    <body ng-controller="angularListController">

        <ul>
            <li ng-repeat="article in articles">
                <span>{{article.title}}</span>
                <p>{{article.content}}</p>
            </li>
        </ul>

    </body>

    {% endverbatim %}


</html>