#sidebar {
    position: fixed;
    height:100%;
    width:20%;
    background-color: yellow;
}

#navbar {
    position: fixed;
    height:10%;
    width:80%;
    left: 20%;
    background-color: greenyellow;
}

#content {
    padding-left: 20%;
    padding-top: 10%;

    background-color: burlywood;
}